name: google-utilities

on:
  pull_request:
  schedule:
    # Run every day at 11pm (PST) - cron uses UTC times
    - cron:  '0 7 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  pod-lib-lint:
    runs-on: macOS-latest
    strategy:
      matrix:
        target: [ios, tvos, macos]
    steps:
    - uses: actions/checkout@v2
    - name: Setup Scripts Directory
      run: ./setup-scripts.sh
    - name: Setup Bundler
      run: scripts/setup_bundler.sh
    - name: Build and test
      run: |
        scripts/third_party/travis/retry.sh scripts/pod_lib_lint.rb GoogleUtilities.podspec \
          --platforms=${{ matrix.target }}

  catalyst:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Scripts Directory
      run: ./setup-scripts.sh
    - name: Setup Bundler
      run: scripts/setup_bundler.sh
    - name: Setup project and Build for Catalyst
      run: |
        scripts/third_party/travis/retry.sh scripts/test_catalyst.sh GoogleUtilities test \
          GoogleUtilities-Unit-unit

  utilities-cocoapods-option-matrix:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [ios, tvos, macos]
        flags: [
          '--use-static-frameworks',
          '--use-libraries --skip-tests'
        ]
    needs: pod-lib-lint
    steps:
    - uses: actions/checkout@v2
    - name: Setup Scripts Directory
      run: ./setup-scripts.sh
    - name: Setup Bundler
      run: scripts/setup_bundler.sh
    - name: PodLibLint GoogleUtilities Cron
      run: |
        scripts/third_party/travis/retry.sh scripts/pod_lib_lint.rb \
          GoogleUtilities.podspec --platforms=${{ matrix.target }} ${{ matrix.flags }}
